# Build files
.dist/
.pytest_cache/
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# IDEs
.vscode/

# OS files
.DS_Store
Thumbs.db